{% extends "app_base.html" %}

{% block app_content %}

<div class="card">
  <div class="card-header">
      <h5>List of available whitelist-groups</h5>
  </div>
  <div class="card-body">
    <form id="rolesformdelete" class="form-horizontal mb-5" role="form" method="post" action="">
      {{dform.hidden_tag()}}
      <div class="table-responsive col-6">
        <table class="table table-bordered">
          <thead>
            <td></td>
            <td>ID</td>
            <td>Group name</td>
            <td>Associated role</td>
            <td>Time stamp</td>
          </thead>
          {% for group in whitelistgroups %}
          <tr>
            <td>
              <label>
                <input type="checkbox" name="whitelistgroups" value="{{group.id}}">
              </label>
            </td>
            <td>{{group.id}}</td>
            <td>{{group.groupname}}</td>
            <td>{{Roles.query.get(group.role_id).name}}</td>
            <td>{{group.timestamp.strftime('%Y-%m-%d %H:%M:%S')}}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
      {{ dform.remove(onclick="return (doStuff())", class_="btn btn-danger") }}
    </form>
    <div>
    </div>
    <form id="rolesformadd" class="form-horizontal" role="form" method="post" action="{{url_for('main.add_whitelistgroups')}}">
      {{rform.hidden_tag()}}
      {% if rform.groupname.errors|length > 0 %}
      <div id="signupalert" class="alert alert-danger">
        {% for error in rform.groupname.errors %}
        <span>{{error}}</span>
        {% endfor %}
      </div>
      {% endif %}
      <div class="input-group form-group">
          <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-users"></i></span>
          </div>
          {{rform.groupname(id="groupname", class_="form-control", placeholder="group name" ) }}
      </div>
      <div class="input-group form-group">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-user-tag"></i></span>
        </div>
        {{rform.role(id="role", class_="form-control")}}
      </div>
      {{ rform.submit(class_="btn btn-info") }}
    </form>
  </div>
</div>


{% endblock %}

{% block scripts %}
{{super()}}

<script>
function doStuff(){
  return (confirm('Do you really want to remove these items?'))
}
</script>

{% endblock %}
